<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <title>ads</title>

    <!--Boostarap-->
    <link href="css/bootstrap-reset.css" rel="stylesheet" type="text/css">
    <!--Animation css-->
    <link href="css/animate.css" rel="stylesheet">

    <!--Icon-fonts css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/ionicon/css/ionicons.min.css" rel="stylesheet" />
    <!-- Plugins css -->
    <link href="assets/notifications/notification.css" rel="stylesheet" />
    <link href="css/flash.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="css/helper.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="render-target"></div>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="js/pace.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="assets/notifications/notify.min.js"></script>
    <script src="assets/notifications/notify-metro.js"></script>
    <script src="assets/notifications/notifications.js"></script>

</body>

