.notifyjs-metro-default {
color: #fafafa !important;
background-color: #ABB7B7;
border: 1px solid #ABB7B7;
}
.notifyjs-metro-error {
color: #fafafa !important;
background-color: rgba(203, 42, 42, 0.8);
border: 1px solid #cb2a2a;
}
.notifyjs-metro-success {
color: #fafafa !important;
background-color: rgba(51, 184, 108, 0.8);
border: 1px solid #33b86c;
}
.notifyjs-metro-info {
color: #fafafa !important;
background-color: rgba(28, 168, 221, 0.8);
border: 1px solid #1ca8dd;
}
.notifyjs-metro-warning {
color: #fafafa !important;
background-color: rgba(235, 193, 66, 0.8);
border: 1px solid #ebc142;
}
.notifyjs-metro-black {
color: #fafafa !important;
background-color: rgba(20, 8, 45, 0.8);
border: 1px solid #14082d;
}
.notifyjs-metro-white {
background-color: #e6eaed;
border: 1px solid #ddd;
}